<!-- phpunit.xml.dist -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php">

    <!-- Директории с тестами -->
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Настройки для выполнения тестов -->
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>

    <!-- Настройки для отчетов о покрытии кода (если используется) -->
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>

    <!-- Настройки логирования -->
    <logging>
        <log type="coverage-html" target="build/coverage" title="Code Coverage" />
    </logging>

</phpunit>